[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
humanize = "*"
aenum = "*"
requests = "*"
tqdm = "*"
distributed = "==2.3.2"
dask = {extras = ["complete"]}
impresso-db = {editable = true,path = "./../impresso-master-db"}
dask-k8 = "*"
impresso-pycommons = "*"
sanity-check = {editable = true,path = "."}
seaborn = "*"
tabulate = "*"

[dev-packages]
jupyter = "*"
flake8 = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
